{% extends 'base.html' %}
{% load filter %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="p-2">
                <div class="p-0">
                    <p class="mb-0">
                    <strong>{{ post.title }}</strong>
                    <br>
                    <p class="mb-2 is-size-7">
                        Published {{ post.publish }} by {{ post.author }}
                    </p>
                    {{ post.body|linebreaks }}
                    <br>
                    <small>
                        <a>Like</a> 
                        <a href="{% url 'blog:share' post.id %}">Share</a>
                        <a onclick="openModal()">Email</a>
                    </small>
                    </p>
                    {% with comments.count as total_comments %}
                        <p>
                        {{ total_comments }} comment{{ total_comments|pluralize }}
                        </p>
                    {% endwith %}
                </div>
                <div class="p-3">
                {% for comment in comments %}
                    <div class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                {{ comment.author.email|gravatar:128 }}
                            </p>
                        </figure>
                        <div class="media-content">
                            <strong>{{ comment.author }}</strong>
                            <span class="is-size-7">{{ comment.created }}</span>
                            {{ comment.body|linebreaks }}
                        </div>
                    </div>
                {% empty %}
                    <p>There are no comments yet.</p>
                {% endfor %}
                {% if new_comment %}
                    <p>Your comment has been added</p>
                {% else %}
                    <p>Add a new comment:</p>
                    <form method='POST'>
                        {{ form.non_field_errors }}
                        <div>
                            <div class="field">
                                <p class="control">
                                    <label for="{{ comment_form.author.id_for_label }}">Author:</label>
                                    <br>
                                    {{ comment_form.author }}
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    {{ comment_form.body }}
                                </p>
                            </div>
                        </div>
                        {% csrf_token %}
                        <p><input class="button is-info" type="submit" name="add-comment" value="Add comment"></p>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
        <div id="recent-posts" class="column is-narrow">
            <div class="box" style="width: 180px">
                <p class="mb-2 has-text-grey-light">Recent Posts</p>
            {% for pub in others %}
                <div>
                <p class="is-size-7">
                    <a href="{{ pub.get_abs_blog_url }}">
                    {{ pub.title }}
                    </a>
                </p>
                <p class="has-text-weight-light" style="font-size: 12px">
                    {{ pub.publish }}
                </p>
                <hr class="my-3">
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="bg-modal">
        <div class="box">
        {% if sent %}
            <p class="m-0">You have shared this post with:</p>
            <strong class="mb-6">{{ modal_data.you }}</strong>
            <br>
            <a href="">Close</a>
        {% else %}
            <form method="post" class="p-2">
                {{ form.non_field_errors }}
                <div class="mb-4 is-size-7 has-text-weight-bold" >
                    {{ form.you.errors }}
                    <label for="{{ form.you.id_for_label }}">
                        Send to email address:
                    </label>
                    <br>
                    {{ form.you }}
                </div>
                <div class="mb-4 is-size-7 has-text-weight-bold">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Your name:</label>
                    <br>
                    {{ form.name }}
                </div>
                <div class="mb-4 is-size-7 has-text-weight-bold">
                    {{ form.me.errors }}
                    <label for="{{ form.me.id_for_label }}">Your email address:</label>
                    <br>
                    {{ form.me }}
                </div>
                {% csrf_token %}
                <input class="tag is-link" type="submit" name="send-email" value="Send e-mail">
                <a onclick="closeModal()">Cancel</a>
            </form>
        {% endif %}
        </div>
    </div>
    <script>
        function openModal() {
            document.querySelector(".bg-modal").style.display="flex";
        }
        function closeModal() {
            document.querySelector(".bg-modal").style.display="none";
        }
    </script>
</section>
{% endblock %}