{% extends 'base.html' %}
{% load filter %}

{% block title %}
{{ post.blog.title }}
{% endblock title %}

{% block subtitle %}
{{ post.blog.description }}
{% endblock subtitle %}

{% block main %}
<section class="section py-2">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
</section>
{% endblock main %}

{% block sidebar %}
    <div class="mb-2 has-text-grey-light">Sidebar</div>
{% endblock sidebar %}
    
{% block domready %}
{% endblock %}
