{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block html_title %}{% endblock %}</title>
        <link href="{% static "css/bulma.min.css" %}" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <style>
            .bg-modal {
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.25);
                position: absolute;
                top: 0px;
                z-index: 1;
                justify-content: center;
                align-items: center;
            }

            {% if modal %}
            .bg-modal { display: flex; }
            {% else %}
            .bg-modal { display: none; }
            {% endif %}

            .bg-content {
                background-color: #f0f0f0;
                border: none;
                border-radius: 15px;
                padding: 15px;
                position: relative;
            }
        </style>
        <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
        {% block style %}
        {% endblock style %}
        {% block script %}
        {% endblock script %}
    </head>
    <body>
        {% if user.is_authenticated %}
        <p class="mx-2 my-0 py-0" style="text-align: right; font-size: 12px;">
            <a class="has-text-link mx-2" href="{% url 'logout' %}">Logout</a>
            User: <strong>{{ user.username }}</strong>
        </p> 
        {% endif %}
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">
                {% block title %}
                {% endblock title %}
                </h1>
                <h2 class="subtitle">
                {% block subtitle %}
                {% endblock subtitle %}
                </h2>
                </div>
            </div>
        </section>
        <nav class="navbar is-transparent has-background-info" role="navigation" aria-label="main navigation">
            <div class="navbar-menu is-active">
                <div class="navbar-start">
                    <a class="navbar-item has-text-white" href="{{ blog.get_absolute_url }}"> Home </a>
                    {% if user.is_staff %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-item has-text-white px-2">&laquo;Admin&raquo;</a>
                        <div class="navbar-dropdown">
                            <a class="dropdown-item" href="/admin">Django Admin</a>
                            <a class="dropdown-item" href="{% url 'blog:blog-list' %}">Blog List</a>
                            <a class="dropdown-item" href="{% url 'blog:visitor-list' %}">Visitor List</a>
                            <hr class="dropdown-divider">
                            <p class="pl-2 is-size-7 has-text-weight-bold">Goto blog:</p>
                            {% if blogs %}
                                {% for blog in blogs %}
                                    <a href="{% url 'blog:index' blog_id=blog.id slug=blog.slug %}" class="dropdown-item py-1 has-text-weight-bold" style="font-size: 10px">
                                        &ldquo;{{ blog.title|truncatechars:28 }}&rdquo;
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% block navbar %}
            {% endblock navbar %}
        </nav>    

        <section class="section py-2">
            <div class="columns">
                <div class="column is-four-fiths">
                {% block main %}
                {% endblock main %}
                </div>
                <div class="column is-one-fifth" >
                    <div id="recent-posts" class="box">
                    {% block sidebar %}
                    {% endblock sidebar %}
                    </div>
                </div>
            </div>
            {% block lower %}
            {% endblock lower %}
        </section>

        <footer class="footer has-background-info">
            <div class="content has-text-centered has-text-white">
                <p>Microsnout 2020</p>
            </div>
        </footer>

        {% block heel %}
        {% endblock heel %}
    </body>
</html
